<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="newsletter">
                    <h4><i class="fa fa-map-marker"></i> ADRESSE</h4>
                    <p>
                        Technopole Mannouba <br>
                        3ème étage, bureau N°4 <br>
                        2010, La Mannouba, Tunisie<br>
                    </p>

                </div>
            </div>
            <div class="col-md-3">
                <h4><i class="fa fa-phone"></i> TÉLÉPHONE</h4>


                <p>
                    Direction : (+216) 58 341 886<br>
                    Commercial : (+216) 23 390 007 <br>
                    Technique : (+216) 58 335 702<br>
                </p>

            </div>

            <div class="col-md-4">
                <div class="contact-details">
                    <h4><i class="fa fa-envelope"></i> EMAILS</h4>
                    <ul class="contact">
                        <li>
                            <p>
                                Direction : direction@octasoft.com.tn<br>
                                Commercial : commercial@octasoft.com.tn <br>
                                Technique : technique@octasoft.com.tn <br>
                            </p>
                        </li>


                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <h4>Follow Us</h4>
                <div class="social-icons">
                    <ul>
                        <li class="social-twitter tooltips" data-original-title="Twitter" data-placement="bottom">
                            <a target="_blank" href="https://twitter.com/Small_JobsMall">
                                Twitter
                            </a>
                        </li>
                        <li class="social-facebook tooltips" data-original-title="Facebook" data-placement="bottom">
                            <a target="_blank" href="https://www.facebook.com/smalljobsmall1?__mref=message_bubble" data-original-title="Facebook">
                                Facebook
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <a class="logo" href="index.html">
                        CLIP<i class="clip-clip"></i>ONE
                    </a>
                </div>
                <div class="col-md-7">
                    <p>
                        &copy; Copyright 2014 by Clip-One. All Rights Reserved.
                    </p>
                </div>
                <div class="col-md-4">
                    <nav id="sub-menu">
                        <ul>
                            <li>
                                <a href="#">
                                    FAQ's
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Sitemap
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
<a id="scroll-top" href="#"><i class="fa fa-angle-up"></i></a>
<!-- end: FOOTER -->
