{% extends ":front:Front.html.twig" %}
{% block title %}Questions Souvent Posées  (FAQ){% endblock  %}
{% block body %}
<article class ="content col-sm-12 col-md-12">
<center><p><h3><b>Nos Principes</b></h3></p></center>
<br>
<br>
<br>


<p>
<i>Smalljobsmall.com </i>
                 n'est pas en concurrence avec d'autre site Web. Nous sommes des innovateurs. Nous prenons la réalisation des petites taches et les emplois au sérieux. Nous croyons que les gens ne devraient pas être dupés parce qu'ils sont nouveaux à  la ville. Nous croyons aussi que les gens ne devraient pas être surchargés parce qu'ils vivent dans une zone de grande classe, ni les gens devraient autre factures en fonction de leurs nationalités ou ethnies.</p>
                

<p>De même, nous pensons que les indépendants et les entreprises devraient être rémunéré équitablement pour la qualité de leur travail. De notre coté, nous garantissons que tous nos sociétés enregistrées et pigistes seront traités avec toute acquitté et seront tous donnés la chance d'atteindre leur véritable potentiel. Toute tache affichée sera envoyée à  tous les professionnels qui peuvent faire le travail. Chaque pro intéressé enverra son / sa soumission au client. Le client aura accès au profil ainsi que le prix avant l'embauche.</p>

<article>

<p style="font-size: 20px">
 <b>Qu'est-ce que smalljobsmall.com?</b></p>

<p>Il est le premier site Web Task-Bidding communautaire ou les gens peuvent poster des taches et des petits travaux et les pigistes ou les entreprises dans leurs domaines peuvent présenter des proposition, ou ils disent combien ils facturent pour cette tache particulière.</p>
<p style="font-size: 20px">
 <b>Puis-je publier des annonces sur votre site? </b></p>


<p>Oui. Si vous avez besoin d'un bricoleur, un tuteur, une femme de chambre, un entraineur personnel ... n’hésiter pas à s’inscrire. </p>
<p style="font-size: 20px">
 <b>Je suis un lancier / société libre. Puis-je publier une annonce sur mes services?</b></p>


<p>Non, lanciers libres et les entreprises ne peuvent pas écrire des annonces sur eux-memes ou les services qu'ils peuvent fournir, à la place, ils reçoivent des demandes d'emploi dans leur boite de réception, puis ils envoient leurs devis. lanciers gratuites et les entreprises peuvent écrire tout ce qu'ils voient important dans leurs profils.</p>

<p style="font-size: 20px"><b>Comment puis-je bénéficier de smalljobsmall.com?</p></b>

<p>L'idée principale du site est de le rendre facile pour les gens d'atteindre les professionnels pour les aider avec les besoins quotidiens tels que: les enseignants privés pour divers sujets, organisateurs d'événements, femmes de ménage complet et à  temps partiel, les plombiers, chauffeurs ... etc. Cela signifie que tout le monde bénéficiera de smalljobsmall.com de plusieurs façons:</p>
<p>
<ul>
<li>L'utilisateur trouvera des professionnels à proximité.</li>
<li>Commentaires sur les pigistes ou les entreprises donnera une chance aux meilleurs fournisseurs de services de se faire embaucher encore et encore.</li>
<li>Les gens ne doivent pas révéler leurs budgets ou leur identité à  personne et feront un seul appel téléphonique à  la personne qu'ils ont embauché.</li>
<li>Les professionnels ne doivent pas dépenser une fortune sur les annonces, notre site web apportera les bons clients pour eux .<li>
<li>les Indépendants et les entreprises seront informés par par  des notification chaque fois qu'une tache dans leur domaine d'expertise est affiché.</li></ul></p>
<p style="font-size: 20px"><b>Qu'elle sont les regions qui couvre smalljobsmall.com?</p></b>

<p>Toute la Tunisie. Cependant, nous prévoyons d'étendre nos services pour servir d'autres pays arabes et non-arabes bientot.</p>

<p style="font-size: 20px"><b>Comment puis-je inscrire et comprendre ce qui me convient le mieux?</p></b>

<p>
<ul>
<li>le compte d'un client: un compte client est celui Ã  partir duquel les clients affichent les taches ou les petits travaux dont ils ont besoin d'aide.</li>
<li>Un dossier d'entreprise: un compte professionnel est quelqu'un qui peut aider a  un emploi ou une tache (Freelancers, entreprises ...).</li></ul>
<ol>
<li>Cliquez sur le bouton "s’inscrire" dans le menu principal</li>
<li>Choisissez soit « client » ou « professionnel  independant» ou « Entreprise »
<li>Mettre a  jour votre compte a  vos préférences. Cela inclut les photos de profil, des compétences supplémentaires et des détails personnels, etc.</li></ol></p>
<p style="font-size: 20px"><b>Comment puis-je récupérer mon compte?</p></b>

<p>Cliquez sur <i>"Mot de passe oublié?"</i> Il vous redirigera vers une nouvelle page ou vous etes invite à  entrer l'e-mail associée au compte. Un e-mail sera alors envoyé avec un lien pour vous aider à  réinitialiser le mot de passe de votre compte./p>

<p style="font-size: 20px"><b>Quels navigateurs web sont pris en charge par votre site?</p></b>


<ul type="square"> <b>PC:</b>
<li>Chrome</li>
<li>Firefox</li>
<li>Safari</li>
<li>Opera</li>
<li>Internet Explorer</li></ul>
<br>

<ul type="square"> <b> MAC:</b>
<li>Safari</li>
<li>Firefox</li>
<li>Chrome</li></ul>


<center><p><h3><b>Questions relatives aux utilisateurs professionnels</b></h3></p></center>

<p style="font-size: 20px"><b>Qui sont les  professionnels?</p></b>

<p>Les professionnels sont les indépendants, les entreprises et tout professionnel qui peut aider d'autres personnes avec une tache. 
<br>Les personnes ayant des compétences,  peuvent s’inscrire comme utilisateurs professionnels.
Les professionnels ont la capacité de recevoir et de suivre les demandes dés qu'ils sont connectés. <p>

<p style="font-size: 20px"><b>Comment puis-je inscrire comme utilisateur professionnel?</p></b>

<p>Inscrivez-vous en tant que société ou un travailleur independant puis completer votre profil. C'est tout.</p>

<p style="font-size: 20px"><b>Je suis inscrit comme utilisateur professionnel, comment puis-je accéder à  mes clients?</p></b>

<p> SmallJobsMall  vous enverra toutes les demandes d'emploi qui correspondent à  votre profession.<br>une fois connecté vous trouverais les offres dans l’onglet « notification », vous pouvez par la suite envoyer votre proposition au client (contient vos services et charges)et si elle/il vous choisit ,small jobs mall vous envoi une notification d’embauche <p>

<p style="font-size: 20px"><b>Combien coute vos services?</p></b>

<p>Il n'y a absolument aucun cout pour utiliser nos services ici à  smalljobsmall  pour les professionnel.<p>




<center><p><b><h3>Questions relatives aux clients</h3></b></p></center>




<p style="font-size: 20px"><b>Qui sont les clients?</p></b>

<p>Les clients sont vous et moi, les gens qui ont besoin d'aide avec une tache. Choisissez les catégories (vous pouvez parcourir les taches au sein de chaque catégorie). Vous envoyez ensuite vos besoins spécifiques et de recevoir des devis de professionnels. Une fois que les services sont décidés et confirmés, ils sont affichés sur le site Web pour nos utilisateurs professionnels de visualiser.</p>

<p style="font-size: 20px"><b>Quelles sont les étapes que je dois passer pour enregistrer en tant que client?</p></b>

<p>Dans la page d'inscription choisissez « client ».
Remplissez le formulaire qui apparait.

<p style="font-size: 20px"><b>Combien coute votre service?</p></b>

<p>Il n'y a absolument aucun cout pour utiliser nos services ici à  smalljobsmall.com pour les clients.<p>

<p style="font-size: 20px"><b>Comment sécuriser mes informations?</p>

<p>En smalljobsmall.com nous comprenons l'importance de la vie privée, d'ou nous gardons des normes trés élevées de sécurité de l'information. Votre information ne sera pas donnée à  toutes les autres parties et ne sera pas utilisé en aucune façon nuisible. Toutefois, au cours de la derniére étape d'un accord de travail; les numéros de téléphone / E-mails sont éventuellement exposés exclusivement aux professionnels.</p>

{% endblock %}
