 {% extends ":front:Front.html.twig" %}
{% block title %}error404{% endblock  %}
{% block body %}

<div class="main-container">
    <!-- start: STYLE SELECTOR BOX -->
    <div id="style_selector" class="hidden-xs">
        <div id="style_selector_container">
            <div class="style-main-title">
                Style Selector
            </div>
            <div class="box-title">
                Predefined Color Schemes
            </div>
            <div class="images icons-color">
                <a id="blue" href="#"><img class="active" alt="" src="assets/images/blue.png"></a>
                <a id="purple" href="#"><img alt="" src="assets/images/purple.png"></a>
                <a id="red" href="#"><img alt="" src="assets/images/red.png"></a>
                <a id="orange" href="#"><img alt="" src="assets/images/orange.png"></a>
                <a id="green" href="#"><img alt="" src="assets/images/green.png"></a>
            </div>
            <div style="height:25px;line-height:25px; text-align: center">
                <a class="clear_style" href="#">
                    Clear Styles
                </a>
                <a class="save_style" href="#">
                    Save Styles
                </a>
            </div>
        </div>
        <div class="style-toggle close"></div>
    </div>
    <!-- end: STYLE SELECTOR BOX -->

    
    <section class="wrapper">
        <div class="container">
            <div class="row">
                <!-- start: 404 -->
                <div class="col-sm-12 page-error">
                    <div class="error-number teal">
                        404
                    </div>
                    <div class="error-details col-sm-6 col-sm-offset-3">
                        <h3>Oops! You are stuck at 404</h3>
                        <p>
                            {% for categorie in Categorie %}
                                {}
                                {%endfor%}
                            <br>
                            <a href="index.html" class="btn btn-teal btn-return">
                                Return home
                            </a>
                            <br>
                            Still no luck?
                            <br>
                            Search for whatever is missing, or take a look around the rest of our site.
                        </p>
                        <form action="#">
                            <div class="input-group">
                                <input type="text" placeholder="keyword..." size="16" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-teal">
                                        Search
                                    </button> </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end: 404 -->
            </div>
        </div>
    </section>
</div>
<!-- end: MAIN CONTAINER -->
{% endblock %}