.col-md-3, .col-lg-3 {
    padding-left:1100px ;
        width: 50%;
        
}
ul.main-navigation-menu > li a > i {
    color: #B34F6B;}
.btn-blue {
    background-color: #569099;
    color: #eeeeee;
    
}
.navbar > .container .navbar-brand, .logo {
    padding: 14px 10px 12px;
    margin-left: 0;
    font-family:'Bookman Old Style', serif;
    font-size:  x-large;
    font-style: italique; 
 
    min-width: 210px;
}
b, strong {
    font-weight: 800;
}
 h4 {
    
    line-height: 3;
   
}
 .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 25px;
}
.input {
    margin: 190px;
    margin-top: 10px;}
.input#firstname {
    margin-top: 10px;}
sub {
    bottom: -0.25em;
    left: -0.75em
}
.navbar-inverse .navbar-brand {
    color: #B34F6B;
    font-family: 'Bookman Old Style',serif;
}
.breadcrumb a {
    color:#B34F6B;
}
.pagination>.active>a{

   
   
    background-color: #B34F6B;
    border-color:#B34F6B;
}
.btn-teal {
    background-color: #B34F6B;
    border-color: #B34F6B;}
.btn-teal:hover {
    background-color: #B34F6B;
    border-color: #B34F6B;}
.btn-light-grey {
    background-color: #c83a2a;
    border-color: #333333;}
.btn-primary {
   
    background-color: #B34F6B;
    border-color: #B34F6B;
}
.btn-primary:focus,.btn-primary:hover{
    
  
    background-color: #B34F6B;
    border-color: #B34F6B;
}
.btn-light-grey:hover {
    background-color: #C83A2A;
    border-color: #C83A2A;}
