{% extends ":front:Front.html.twig" %}

{% block title %}Propositions Reçues{% endblock  %}
{% block body %}
    
 <section class="wrapper">
        <div class="container">

            <div class="col-md-12">
            <div class="row animate-group">
                <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                        <i class="icon-box-icon fa fa-pencil"></i>
                        <h3 class="icon-box-title">
                           le professionnel a ete embauché avec succes </h3>
                        <div class="icon-box-content"> 



 </div>


                    </div>
                </div>

            </div>
        </div>



    </section>
{%endblock%}

